* {
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  font-weight: normal;
  letter-spacing: 3px;
  color: #232323;
}

body {
  background-color: #f8f8f8;
}

.name-section, .qr-section {
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f8f8;
  border: solid 1px #000;
  width: 1050px;
  height: 600px;
  margin-bottom: 60px;
}

.name {
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  font-weight: normal;
  color: #222222;
  letter-spacing: 3px;
  font-size: 52px;
  text-align: center;
  margin-top: 246px;
  margin-bottom: 0px;

}

.job {
  font-family: 'Dosis', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", cursive;
  font-weight: normal;
  text-align: center;
  font-size: 24px;
  margin-top: 0px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.inputs {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.inputs input {
  width: 300px;
  margin-bottom: 30px;
  font-size: 16px;
}

.center {
  margin-top: 20px;
  text-align: center;
}

a {
  font-weight: bold;
}
#qrcode {
  margin-top: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}
.qr-section {
  text-align: center;
}
